
.navi {
 padding-top:8px;
 padding-right:8px;
}

.paddingcyp{
 padding-left:3px;
}

.minav{    
 height:55px
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.btn-circle.btn-xl {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  margin-right: 10px;
}

.accordionaux {
  color: #444;
  cursor: pointer;
  margin-left: -13px;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
}

.col1 {
  width: 200px;
}
.sign-ubicacion
  {
  
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 39px 43px;
    padding-left: 41px;
    color: #000;
  }